@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --lightGrey: #f0f0f0;
  --border-radius: 20px;
  --smallest-font: 20px;
  --medium-font: 20px;
  --large-black-text-font: 62px;
  --large-white-text-font: 31px;
  --black-para-font: 22px;
  --transition-base: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Arial", " sans-serif";
  padding: clamp(16px, 3vw, 32px);
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightGrey);
  padding: 25px 40px;
  border-radius: var(--border-radius);
}
.heading {
  cursor: pointer;
}
.pages {
  display: flex;
  gap: 30px;
}
.link {
  font-size: var(--smallest-font);
  color: #000;
  transition: var(--transition-base);
}
.link:hover {
  color: #ff7e05;
}
.hamburger {
  border: none;
}
.hamburger span {
  width: 35px;
  height: 3px;
  background: #333;
  border-radius: 3px;
  transition: 0.3s;
  border: none;
}

/* Animate hamburger into X */
.hamburger span.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger span.open:nth-child(2) {
  opacity: 0;
}

.hamburger span.open:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 32px;
  height: 80vh;
  border-radius: var(--border-radius);
}
.hero-img-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  /* background-image: url("/hero.png"); */
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 1;
}
.hero-para{
  margin-top:auto ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
/* Card stays above everything */
.section-card {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 32px;
  width: 35%;
  height: 70%;
  padding: 32px;
  background-color: #fff;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.about-section{
  left: auto;
  right: 32px;
}
.section-card h1 {
  font-size: clamp(2.5rem, 2vw + 1rem, 5rem);
}
.section-card h4 {
  font-size: clamp(1.2rem, 1.2vw + 0.4rem, 1.5rem);
  font-weight: 100;
  margin-top: 20px;
}
#hero-btn {
  margin-top: auto;
}
.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  transition: var(--transition-base);
  width: fit-content;
  border: 1px solid #000;
}
.btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(40px, 6vw, 100px);
  padding-bottom: clamp(40px, 6vw, 100px);
}
.info-section p {
  font-size: clamp(1.2rem, 2.2vw + 0.5rem, 25px);
}
.info-section h1 {
  font-size: clamp(2rem, 4vw + 1rem, 3.9rem);
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.8fr);
  gap: 25px;
}
.parent div {
  border-radius: var(--border-radius);
  color: #fff;
}
.div1 {
  grid-column: span 4 / span 4;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row-start: 2;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px;
}
.div1 p,
.div2 p {
  margin-top: 10px;
  font-size: 20px;
  max-width: 70%;
  line-height: 25px;
}
.div3 {
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 32px;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row-start: 3;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.div4 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  background-color: var(--lightGrey);
  padding: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.356);
}
.div5 h1 {
  font-size: clamp(2.2rem, 3vw + 1rem, 3.9rem);
}
.div5 p,
.div6 span,
.div6 p {
  font-size: clamp(0.9rem, 1.5vw + 0.5rem, 1.25rem);
}
.div6 q {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.6rem);

  font-weight: 700;
}
.div5 p,
.div5 h1,
.div6 span,
.div6 p,
.div6 q {
  color: #000;
}
.div6 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
  background-color: var(--lightGrey);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.356);
}
#learn-more-btn {
  background-color: #f0f0f0;
  color: #000;
}
#learn-more-btn:hover {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #fff;
}
.bottom-p {
  max-width: 40%;
  margin-top: 30px;
  text-align: center;
}

.green-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  max-width: 70%;
  margin: 0 auto;
}

.green-parent div {
  /* background-color: #000; */
  border-radius: var(--border-radius);
}

.div-strategy {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 0 25px;
}
.div-strategy h1 {
  font-size: clamp(18px, 2vw, 32px);
}
.div-strategy p {
  line-height: 25px;
}
.div-dark-grey {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;
  background-color: #808080;
}

.div-green-ni66a {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.div-green-ni66a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.cards-main-section {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
}
.top-black-div {
  padding: clamp(20px, 5vw, 62px);
  background-color: #000;
  border-radius: var(--border-radius);
}
.top-black-div h1 {
  color: #fff;
  font-size: clamp(20px, 5vw, 62px);
  margin-top: 20px;
}
.top-black-div p {
  color: #fff;
  font-size: 20px;
}
.black-div-cards {
  display: flex;
  gap: 32px;
}
.div-cards {
  width: 100%;
  padding: clamp(20px, 5vw, 62px);
  background-color: var(--lightGrey);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.356);
}
.div-cards h2 {
  font-size: 32px;
}
.span-line {
  display: block;
  width: 70px;
  height: 2px;
  background: #000;
  margin-bottom: 70px;
  transform-origin: center;
  transition: transform 0.2s linear;
}
.contact-form-section {
  margin-top: 32px;
  display: flex;

  gap: 40px;
}
.contact-img,
.contact-form {
  flex: 1;
  box-sizing: border-box;
}
.contact-img img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contact-form {
  padding: clamp(20px, 5vw, 62px);
}
.contact-head {
  text-align: center;
  margin-bottom: 40px;
}

.contact-head h1 {
  font-size: clamp(28px, 4vw, 62px);
  margin-bottom: 40px;
}

.contact-head p {
  margin-top: 20px;
  font-size: clamp(14px, 1.4vw, 32px);
}
.contact-input {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  margin-bottom: 5px;
  font-size: 14px;
}
.input input,
.input textarea {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}

.contact-input .input textarea {
  width: 100%;
  height: clamp(70px, 20vw, 100px);
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  font-size: clamp(14px, 1.5vw, 18px);
  box-sizing: border-box;
}
.input input:focus,
.input textarea:focus {
  border-bottom-color: #003cff;
}
footer{
  background-color: #000;
  margin-top: 32px;
  padding: clamp(28px, 4vw, 62px);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: clamp(200px, 20vw, 350px);
}
.footer-bottom{
  margin-top: auto;
  display: flex;
}
.footer-right,.footer-left{
  flex: 1;
}
.footer-head h1{
  color: #fff;
  font-size: clamp(28px, 4vw, 62px);
}
.copyright p,.foot-para p,.address p{
  color: #fff;
}
.footer-right{
  display: flex;
  flex-direction: column;
}
.copyright{
  margin-top: auto;
}
.icons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.icon svg {
  color: #fff; /* or black depending on your footer */
  transition: 0.3s ease;
}

.icon:hover svg {
  color: #ff7e05; 
  transform: scale(1.1);
}
.black-card-section{
  border-radius: var(--border-radius);
  margin-top: clamp(28px, 4vw, 38px);
  padding: clamp(28px, 4vw, 62px);
  background-color: #000;
  color: #fff;
  height: clamp(200px, 20vw, 350px);
}
.black-card h1{
  margin-top: 10px;
  font-size: clamp(28px, 4vw, 62px);
}
.black-card p{
  font-size: clamp(14px, 1.4vw, 32px);
  font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 1150px) {
  .black-div-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .div-cards {
    width: auto;
  }
}
@media (max-width: 850px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .pages {
    position: absolute;
    top: 125px;
    right: 32px;
    background: var(--lightGrey);
    width: 88%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    border-radius: var(--border-radius);
    z-index: 111;
  }

  .pages.active {
    display: flex;
  }
  .bottom-p {
    max-width: 100%;
  }

  .green-parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .div-grey {
    align-self: center;
  }
  .div-line {
    grid-column: 1;

    grid-row: 1;
  }
  .div-x {
    grid-column: 2;
    grid-row: 1;
  }
  .div-plus {
    grid-column: 3;
    grid-row: 1;
  }
  .div-strategy {
    grid-column: 1 / -1;
    grid-row: 3;
    padding: 20px;
    text-align: center;
  }

  /* Green image div below strategy */
  .div-green-ni66a {
    grid-column: 1 / -1;
    grid-row: 4;
    width: 100%;
    height: 250px; /* smaller on mobile */
  }

  /* Dark grey div at the bottom */
  .div-dark-grey {
    grid-column: 1 / -1;
    grid-row: 5;
    height: 100px; /* optional */
  }

  /* Optional: reduce gaps */
  .green-parent {
    gap: 15px;
    max-width: 95%;
  }
  .contact-form-section {
    flex-direction: column;
  }

  .contact-img,
  .contact-form {
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .div1 p,
  .div2 p {
    max-width: 100%;
  }
  .div4 {
    height: 300px;
  }
  /* .div4 img{
    object-position: center top;
  } */
}
@media (max-width: 700px) {
  .section-card {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

}
@media (max-width: 600px) {
  .black-div-cards {
    display: flex;
    flex-direction: column;
  }

}
@media (max-width: 450px){
  footer{
    height: 300px;
  }
  .footer-bottom{
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 435px) {
  body {
    padding: 12px;
  }
  .navbar {
    padding: 18px 15px;
  }
  .heading {
    font-size: 10px;
  }
  .pages {
    top: 80px;
  }
  .bottom-p {
    max-width: 100%;
  }
  .info-section h1 {
    text-align: center;
  }
}
