@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --lightGrey: #f0f0f0;
  --border-radius: 20px;
  --smallest-font: 20px;
  --medium-font: 20px;
  --large-black-text-font: 62px;
  --large-white-text-font: 31px;
  --black-para-font: 22px;
  --transition-base: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Arial", " sans-serif";
  padding: clamp(16px, 3vw, 32px);
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--lightGrey);
  padding: 25px 40px;
  border-radius: var(--border-radius);
}
.heading {
  cursor: pointer;
}
.pages {
  display: flex;
  gap: 30px;
}
.link {
  font-size: var(--smallest-font);
  color: #000;
  transition: var(--transition-base);
}
.link:hover {
  color: #ff7e05;
}
.hamburger {
  border: none;
}
.hamburger span {
  width: 35px;
  height: 3px;
  background: #333;
  border-radius: 3px;
  transition: 0.3s;
  border: none;
}

/* Animate hamburger into X */
.hamburger span.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger span.open:nth-child(2) {
  opacity: 0;
}

.hamburger span.open:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}
.hero-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 32px;
  height: 80vh;
  border-radius: var(--border-radius);
}
.hero-img-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-image: url("/hero.png");
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 1;
}

/* Card stays above everything */
.section-card {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 32px;
  width: 35%;
  height: 70%;
  padding: 32px;
  background-color: #fff;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.section-card h1 {
  font-size: clamp(2.5rem, 2vw + 1rem, 5rem);
}
.section-card h4 {
  font-size: clamp(1.2rem, 1.2vw + 0.4rem, 1.5rem);
  font-weight: 100;
  margin-top: 20px;
}
#hero-btn {
  margin-top: auto;
}
.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  transition: var(--transition-base);
  width: fit-content;
  border: 1px solid #000;
}
.btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(40px, 6vw, 100px);
  padding-bottom: clamp(40px, 6vw, 100px);
}
.info-section p {
  font-size: clamp(1.2rem, 2.2vw + 0.5rem, 25px);
}
.info-section h1 {
  font-size: clamp(2rem, 4vw + 1rem, 3.9rem);
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.8fr);
  gap: 25px;
}
.parent div {
  border-radius: var(--border-radius);
  color: #fff;
}
.div1 {
  grid-column: span 4 / span 4;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row-start: 2;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 32px;
}
.div1 p,
.div2 p {
  margin-top: 10px;
  font-size: 20px;
  max-width: 70%;
  line-height: 25px;
}
.div3 {
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 32px;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row-start: 3;
  width: 100%;
  height: 540px;
  overflow: hidden;
}
.div4 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
  background-color: var(--lightGrey);
  padding: 32px;
}
.div5 h1 {
  font-size: clamp(2.2rem, 3vw + 1rem, 3.9rem);
}
.div5 p,
.div6 span,
.div6 p {
  font-size: clamp(0.9rem, 1.5vw + 0.5rem, 1.25rem);
}
.div6 q {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.6rem);

  font-weight: 700;
}
.div5 p,
.div5 h1,
.div6 span,
.div6 p,
.div6 q {
  color: #000;
}
.div6 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 4;
  background-color: var(--lightGrey);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-end;
}
#learn-more-btn {
  background-color: #f0f0f0;
  color: #000;
}
#learn-more-btn:hover {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #fff;
}
.bottom-p{
  max-width: 40%;
  margin-top: 30px;
  text-align: center;

}






@media (max-width: 850px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .pages {
    position: absolute;
    top: 125px;
    right: 32px;
    background: var(--lightGrey);
    width: 88%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;
    border-radius: var(--border-radius);
    z-index: 111;
  }

  .pages.active {
    display: flex;
  }
  .bottom-p{
    max-width: 100%;
  }
}
@media (max-width: 750px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
  .div1 p,
  .div2 p {
    max-width: 100%;
  }
  .div4{
    height: 300px;
  }
  /* .div4 img{
    object-position: center top;
  } */
}
@media (max-width: 700px) {
  .section-card {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 435px) {
  body {
    padding: 12px;
  }
  .navbar {
    padding: 18px 15px;
  }
  .heading {
    font-size: 10px;
  }
  .pages {
    top: 80px;
  }
  .bottom-p{
    max-width: 100%;
  }
  .info-section h1 {
    text-align: center;
  }
}
